In [3]:
import csv
import pandas as pd
import numpy as np
import re
murderFile1="murder_data/Murder-2001-2012.csv"
murderFile2="murder_data/Murder-2013.csv"
murderFile3="murder_data/Murder-2015.csv"


kidnappingFile1="kidnapping_data/kidnapping-2001-2012.csv"
kidnappingFile2="kidnapping_data/kidnapping-2013.csv"
kidnappingFile3="kidnapping_data/kidnapping-2014.csv"
kidnappingFile4="kidnapping_data/kidnapping-2015.csv"

rapeFile1="rape_data/rape-2001-2012.csv"
rapeFile2="rape_data/rape-2013.csv"
rapeFile3="rape_data/rape-2015.csv"

def murderDataIntegration():
	df1=pd.read_csv(murderFile1)
	df2=pd.read_csv(murderFile2)
	df3=pd.read_csv(murderFile3,encoding = "ISO-8859-1")
	df1=df1[['STATE/UT','GENDER','YEAR','Total']]
	df2=df2[['STATE/UT','GENDER','YEAR','Total']]
	df3=df3[['State/UT','Number of Victims - Total of All Age Groups - T']]

	df1['GENDER']=(df1.loc[df1['GENDER']=='Total'])
	df1=df1.dropna()
	# print(df1.head)
	df2['GENDER']=(df2.loc[df2['GENDER']=='Total'])
	df2=df2.dropna()
	# df3=df3[(df3['State/UT']=="")]
	df3=df3.drop(df3[df3['State/UT'].isin(["TOTAL (STATES)","TOTAL (UTS)","TOTAL (ALL INDIA)"])].index)
	# appending data and renaming
	df=df1.append(df2)
	df=df.drop('GENDER',1)
	df=df.rename(columns={'STATE/UT':'State','YEAR':'Year','Total':'Total'})

	df3['Year']='2015'
	df3=df3.rename(columns={'State/UT':'State','Year':'Year','Number of Victims - Total of All Age Groups - T':'Total'})
	df=df.append(df3)
	print(df.shape)
	return df

def kidnappingDataIntegration():
	df1=pd.read_csv(kidnappingFile1)
	df2=pd.read_csv(kidnappingFile2)
	df3=pd.read_csv(kidnappingFile3)
	df4=pd.read_csv(kidnappingFile4,encoding = "ISO-8859-1")

	df1=df1[['STATE/UT','YEAR','Purpose','Grand Total']]
	df2=df2[['STATE/UT','YEAR','Purpose','Grand Total']]
	df3=df3[['States/UTs','Crime Head','Year','Total_Sex and Age Wise']]
	df4=df4[['State/UT','Grand Total']]

	# changed pupose to purpose in data set and preprocessing the data file 1 & 2
	df1['Purpose']=(df1.loc[df1['Purpose']=='Total'])
	df1=df1.dropna()
	df1=df1.drop('Purpose',1)

	df2['Purpose']=(df2.loc[df2['Purpose']=='Total'])
	df2=df2.dropna()
	df2=df2.drop('Purpose',1)

	df3=(df3.loc[df3['Crime Head']=='2 - Total Kidnapped & abducted'])
	df3=df3.drop(df3[df3['States/UTs'].isin(["Total (States)","Total (UTs)","Total (All India)"])].index)
	df3=df3.dropna()
	df3=df3.drop('Crime Head',1)

	df4=df4.drop(df4[df4['State/UT'].isin(["TOTAL (STATES)","TOTAL (UTS)","TOTAL ALL INDIA"])].index)
	df4['Year']='2015'
	df4=df4.rename(columns={'State/UT':'State','Year':'Year','Grand Total':'Total'})

	# appending the data
	df=df1.append(df2)
	df=df.rename(columns={'STATE/UT':'State','YEAR':'Year','Grand Total':'Total'})
	df3=df3.rename(columns={'States/UTs':'State','Year':'Year','Total_Sex and Age Wise':'Total'})
	df=df.append(df3)
	df=df.append(df4)
	print(df1.shape)
	print(df2.shape)
	print(df3.shape)
	print(df4.shape)
	print(df.shape)


def rapeDataIntegration():
    df1=pd.read_csv(rapeFile1)
    df2=pd.read_csv(rapeFile2)
    df3=pd.read_csv(rapeFile3,encoding = "ISO-8859-1")
    df1=df1[['STATE/UT','YEAR','Crime Head','Total Victims']]
    df2=df2[['STATE/UT','YEAR','Crime Head','Total Victims']]
    df3=df3[['State/UT','Number of Victims (Total Rape Cases) - Total Victims']]
    df1['Crime Head']=(df1.loc[df1['Crime Head']=='Total'])
    df1=df1.dropna()
    df1=df1.drop('Crime Head',1)
    df2['Crime Head']=(df2.loc[df2['Crime Head']=='Total'])
    df2=df2.dropna()
    df2=df2.drop('Crime Head',1)
    df2=df2.drop(df2[df2['STATE/UT'].isin(["Total (All-India)","Total (UTs)"])].index)
    df3=df3.drop(df3[df3['State/UT'].isin(["TOTAL (STATES)","TOTAL (UTS)","TOTAL (ALL INDIA)"])].index)
    df3['Year']='2015'
    df1=df1.rename(columns={'STATE/UT':'State','YEAR':'Year','Total Victims':'Total'})
    df2=df2.rename(columns={'STATE/UT':'State','YEAR':'Year','Total Victims':'Total'})
    df3=df3.rename(columns={'State/UT':'State','Year':'Year','Number of Victims (Total Rape Cases) - Total Victims':'Total'})
    df=df1.append(df2)
    df=df.append(df3)
    print(df1.shape)
    print(df2.shape)
    print(df3.shape)
    print(df.shape)
    return df

#rapeDataIntegration()

(420, 3)
(36, 3)
(36, 3)
(492, 3)

                State  Total  Year
2      Andhra Pradesh    871  2001
5      Andhra Pradesh   1002  2002
6      Andhra Pradesh    946  2003
10     Andhra Pradesh   1016  2004
13     Andhra Pradesh    935  2005
17     Andhra Pradesh   1049  2006
20     Andhra Pradesh   1070  2007
22     Andhra Pradesh   1257  2008
25     Andhra Pradesh   1188  2009
29     Andhra Pradesh   1362  2010
32     Andhra Pradesh   1442  2011
34     Andhra Pradesh   1341  2012
36  Arunachal Pradesh     33  2001
41  Arunachal Pradesh     38  2002
43  Arunachal Pradesh     31  2003
47  Arunachal Pradesh     42  2004
48  Arunachal Pradesh     35  2005
53  Arunachal Pradesh     37  2006
54  Arunachal Pradesh     48  2007
59  Arunachal Pradesh     42  2008
62  Arunachal Pradesh     59  2009
63  Arunachal Pradesh     47  2010
67  Arunachal Pradesh     42  2011
69  Arunachal Pradesh     46  2012
73              Assam    817  2001
76              Assam    970  2002
78              Assam   1095  2003
83              Assam   1171  2004
86              Assam   1238  2005
88              Assam   1244  2006
..                ...    ...   ...
6             Gujarat    503  2015
7             Haryana   1070  2015
8    Himachal Pradesh    250  2015
9     Jammu & Kashmir    296  2015
10          Jharkhand   1059  2015
11          Karnataka    589  2015
12             Kerala   1268  2015
13     Madhya Pradesh   4400  2015
14        Maharashtra   4189  2015
15            Manipur     46  2015
16          Meghalaya     94  2015
17            Mizoram     74  2015
18           Nagaland     35  2015
19             Odisha   2251  2015
20             Punjab    886  2015
21          Rajasthan   3649  2015
22             Sikkim      5  2015
23         Tamil Nadu    421  2015
24          Telangana   1105  2015
25            Tripura    213  2015
26      Uttar Pradesh   3029  2015
27        Uttarakhand    283  2015
28        West Bengal   1199  2015
30      A & N Islands     36  2015
31         Chandigarh     72  2015
32         D&N Haveli      8  2015
33        Daman & Diu      5  2015
34           Delhi UT   2210  2015
35        Lakshadweep      0  2015
36         Puducherry      3  2015

[492 rows x 3 columns]