In [1]:
import csv
import pandas as pd
import numpy as np
import re

murderFile1="murder_data/Murder-2001-2012.csv"
murderFile2="murder_data/Murder-2013.csv"
murderFile3="murder_data/Murder-2015.csv"
def murderDataIntegration():
	df1=pd.read_csv(murderFile1)
	df2=pd.read_csv(murderFile2)
	df3=pd.read_csv(murderFile3,encoding = "ISO-8859-1")
	df1=df1[['STATE/UT','GENDER','YEAR','Total']]
	df2=df2[['STATE/UT','GENDER','YEAR','Total']]
	df3=df3[['State/UT','Number of Victims - Total of All Age Groups - T']]

	df1['GENDER']=(df1.loc[df1['GENDER']=='Total'])
	df1=df1.dropna()
	# print(df1.head)
	df2['GENDER']=(df2.loc[df2['GENDER']=='Total'])
	df2=df2.dropna()
	# df3=df3[(df3['State/UT']=="")]
	df3=df3.drop(df3[df3['State/UT'].isin(["TOTAL (STATES)","TOTAL (UTS)","TOTAL (ALL INDIA)"])].index)
	# appending data and renaming
	df=df1.append(df2)
	df=df.drop('GENDER',1)
	df=df.rename(columns={'STATE/UT':'State','YEAR':'Year','Total':'Total'})

	df3['Year']='2015'
	df3=df3.rename(columns={'State/UT':'State','Year':'Year','Number of Victims - Total of All Age Groups - T':'Total'})
	df=df.append(df3)
	print(df.shape)
	return df

#murderDataIntegration()

In [1]:
import csv
import pandas as pd
import numpy as np
import re
rapeFile1="rape_data/rape-2001-2012.csv"
rapeFile2="rape_data/rape-2013.csv"
rapeFile3="rape_data/rape-2015.csv"
def rapeDataIntegration():
    df1=pd.read_csv(rapeFile1)
    df2=pd.read_csv(rapeFile2)
    df3=pd.read_csv(rapeFile3,encoding = "ISO-8859-1")
    df1=df1[['STATE/UT','YEAR','Crime Head','Total Victims']]
    df2=df2[['STATE/UT','YEAR','Crime Head','Total Victims']]
    df3=df3[['State/UT','Number of Victims (Total Rape Cases) - Total Victims']]
    df1['Crime Head']=(df1.loc[df1['Crime Head']=='Total'])
    df1=df1.dropna()
    df1=df1.drop('Crime Head',1)
    df2['Crime Head']=(df2.loc[df2['Crime Head']=='Total'])
    df2=df2.dropna()
    df2=df2.drop('Crime Head',1)
    df2=df2.drop(df2[df2['STATE/UT'].isin(["Total (All-India)","Total (UTs)"])].index)
    df3=df3.drop(df3[df3['State/UT'].isin(["TOTAL (STATES)","TOTAL (UTS)","TOTAL (ALL INDIA)"])].index)
    df3['Year']='2015'
    df1=df1.rename(columns={'STATE/UT':'State','YEAR':'Year','Total Victims':'Total'})
    df2=df2.rename(columns={'STATE/UT':'State','YEAR':'Year','Total Victims':'Total'})
    df3=df3.rename(columns={'State/UT':'State','Year':'Year','Number of Victims (Total Rape Cases) - Total Victims':'Total'})
    df=df1.append(df2)
    df=df.append(df3)
    print(df)
    
rapeDataIntegration()

    Number of Victims (Total Rape Cases) - Total Victims              State  \
2                                                 NaN        Andhra Pradesh
5                                                 NaN        Andhra Pradesh
6                                                 NaN        Andhra Pradesh
10                                                NaN        Andhra Pradesh
13                                                NaN        Andhra Pradesh
17                                                NaN        Andhra Pradesh
20                                                NaN        Andhra Pradesh
22                                                NaN        Andhra Pradesh
25                                                NaN        Andhra Pradesh
29                                                NaN        Andhra Pradesh
32                                                NaN        Andhra Pradesh
34                                                NaN        Andhra Pradesh
36                                                NaN     Arunachal Pradesh
41                                                NaN     Arunachal Pradesh
43                                                NaN     Arunachal Pradesh
47                                                NaN     Arunachal Pradesh
48                                                NaN     Arunachal Pradesh
53                                                NaN     Arunachal Pradesh
54                                                NaN     Arunachal Pradesh
59                                                NaN     Arunachal Pradesh
62                                                NaN     Arunachal Pradesh
63                                                NaN     Arunachal Pradesh
67                                                NaN     Arunachal Pradesh
69                                                NaN     Arunachal Pradesh
73                                                NaN                 Assam
76                                                NaN                 Assam
78                                                NaN                 Assam
83                                                NaN                 Assam
86                                                NaN                 Assam
88                                                NaN                 Assam
..                                                ...                   ...
6                                               503.0                   NaN
7                                              1070.0                   NaN
8                                               250.0                   NaN
9                                               296.0                   NaN
10                                             1059.0                   NaN
11                                              589.0                   NaN
12                                             1268.0                   NaN
13                                             4400.0                   NaN
14                                             4189.0                   NaN
15                                               46.0                   NaN
16                                               94.0                   NaN
17                                               74.0                   NaN
18                                               35.0                   NaN
19                                             2251.0                   NaN
20                                              886.0                   NaN
21                                             3649.0                   NaN
22                                                5.0                   NaN
23                                              421.0                   NaN
24                                             1105.0                   NaN
25                                              213.0                   NaN
26                                             3029.0                   NaN
27                                              283.0                   NaN
28                                             1199.0                   NaN
30                                               36.0                   NaN
31                                               72.0                   NaN
32                                                8.0                   NaN
33                                                5.0                   NaN
34                                             2210.0                   NaN
35                                                0.0                   NaN
36                                                3.0                   NaN

            State/UT   Total  Year
2                NaN   871.0  2001
5                NaN  1002.0  2002
6                NaN   946.0  2003
10               NaN  1016.0  2004
13               NaN   935.0  2005
17               NaN  1049.0  2006
20               NaN  1070.0  2007
22               NaN  1257.0  2008
25               NaN  1188.0  2009
29               NaN  1362.0  2010
32               NaN  1442.0  2011
34               NaN  1341.0  2012
36               NaN    33.0  2001
41               NaN    38.0  2002
43               NaN    31.0  2003
47               NaN    42.0  2004
48               NaN    35.0  2005
53               NaN    37.0  2006
54               NaN    48.0  2007
59               NaN    42.0  2008
62               NaN    59.0  2009
63               NaN    47.0  2010
67               NaN    42.0  2011
69               NaN    46.0  2012
73               NaN   817.0  2001
76               NaN   970.0  2002
78               NaN  1095.0  2003
83               NaN  1171.0  2004
86               NaN  1238.0  2005
88               NaN  1244.0  2006
..               ...     ...   ...
6            Gujarat     NaN  2015
7            Haryana     NaN  2015
8   Himachal Pradesh     NaN  2015
9    Jammu & Kashmir     NaN  2015
10         Jharkhand     NaN  2015
11         Karnataka     NaN  2015
12            Kerala     NaN  2015
13    Madhya Pradesh     NaN  2015
14       Maharashtra     NaN  2015
15           Manipur     NaN  2015
16         Meghalaya     NaN  2015
17           Mizoram     NaN  2015
18          Nagaland     NaN  2015
19            Odisha     NaN  2015
20            Punjab     NaN  2015
21         Rajasthan     NaN  2015
22            Sikkim     NaN  2015
23        Tamil Nadu     NaN  2015
24         Telangana     NaN  2015
25           Tripura     NaN  2015
26     Uttar Pradesh     NaN  2015
27       Uttarakhand     NaN  2015
28       West Bengal     NaN  2015
30     A & N Islands     NaN  2015
31        Chandigarh     NaN  2015
32        D&N Haveli     NaN  2015
33       Daman & Diu     NaN  2015
34          Delhi UT     NaN  2015
35       Lakshadweep     NaN  2015
36        Puducherry     NaN  2015

[492 rows x 5 columns]