In [1]:
import csv
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt

murderFile1="murder_data/Murder-2001-2012.csv"
murderFile2="murder_data/Murder-2013.csv"
murderFile3="murder_data/Murder-2015.csv"


kidnappingFile1="kidnapping_data/kidnapping-2001-2012.csv"
kidnappingFile2="kidnapping_data/kidnapping-2013.csv"
kidnappingFile3="kidnapping_data/kidnapping-2014.csv"
kidnappingFile4="kidnapping_data/kidnapping-2015.csv"

rapeFile1="rape_data/rape-2001-2012.csv"
rapeFile2="rape_data/rape-2013.csv"
rapeFile3="rape_data/rape-2015.csv"

populationFile="population.csv"

def murderDataIntegration():
	df1=pd.read_csv(murderFile1)
	df2=pd.read_csv(murderFile2)
	df3=pd.read_csv(murderFile3,encoding = "ISO-8859-1")
	df1=df1[['STATE/UT','GENDER','YEAR','Total']]
	df2=df2[['STATE/UT','GENDER','YEAR','Total']]
	df3=df3[['State/UT','Number of Victims - Total of All Age Groups - T']]

	df1['GENDER']=(df1.loc[df1['GENDER']=='Total'])
	df1=df1.dropna()
	# print(df1.head)
	df2['GENDER']=(df2.loc[df2['GENDER']=='Total'])
	df2=df2.dropna()
	# df3=df3[(df3['State/UT']=="")]
	df3=df3.drop(df3[df3['State/UT'].isin(["TOTAL (STATES)","TOTAL (UTS)","TOTAL (ALL INDIA)"])].index)
	# appending data and renaming
	df=df1.append(df2)
	df=df.drop('GENDER',1)
	df=df.rename(columns={'STATE/UT':'State','YEAR':'Year','Total':'Total'})

	df3['Year']='2015'
	df3=df3.rename(columns={'State/UT':'State','Year':'Year','Number of Victims - Total of All Age Groups - T':'Total'})
	df=df.append(df3)
	return df

def kidnappingDataIntegration():
	df1=pd.read_csv(kidnappingFile1)
	df2=pd.read_csv(kidnappingFile2)
	df3=pd.read_csv(kidnappingFile3)
	df4=pd.read_csv(kidnappingFile4,encoding = "ISO-8859-1")

	df1=df1[['STATE/UT','YEAR','Purpose','Grand Total']]
	df2=df2[['STATE/UT','YEAR','Purpose','Grand Total']]
	df3=df3[['States/UTs','Crime Head','Year','Total_Sex and Age Wise']]
	df4=df4[['State/UT','Grand Total']]

	# changed pupose to purpose in data set and preprocessing the data file 1 & 2
	df1['Purpose']=(df1.loc[df1['Purpose']=='Total'])
	df1=df1.dropna()
	df1=df1.drop('Purpose',1)

	df2['Purpose']=(df2.loc[df2['Purpose']=='Total'])
	df2=df2.dropna()
	df2=df2.drop('Purpose',1)

	df3=(df3.loc[df3['Crime Head']=='2 - Total Kidnapped & abducted'])
	df3=df3.drop(df3[df3['States/UTs'].isin(["Total (States)","Total (UTs)","Total (All India)"])].index)
	df3=df3.dropna()
	df3=df3.drop('Crime Head',1)

	df4=df4.drop(df4[df4['State/UT'].isin(["TOTAL (STATES)","TOTAL (UTS)","TOTAL ALL INDIA"])].index)
	df4['Year']='2015'
	df4=df4.rename(columns={'State/UT':'State','Year':'Year','Grand Total':'Total'})

	# appending the data
	df=df1.append(df2)
	df=df.rename(columns={'STATE/UT':'State','YEAR':'Year','Grand Total':'Total'})
	df3=df3.rename(columns={'States/UTs':'State','Year':'Year','Total_Sex and Age Wise':'Total'})
	df=df.append(df3)
	df=df.append(df4)
	return df

def rapeDataIntegration():
    df1=pd.read_csv(rapeFile1)
    df2=pd.read_csv(rapeFile2)
    df3=pd.read_csv(rapeFile3,encoding = "ISO-8859-1")
    df1=df1[['STATE/UT','YEAR','Crime Head','Total Victims']]
    df2=df2[['STATE/UT','YEAR','Crime Head','Total Victims']]
    df3=df3[['State/UT','Number of Victims (Total Rape Cases) - Total Victims']]
    df1['Crime Head']=(df1.loc[df1['Crime Head']=='Total'])
    df1=df1.dropna()
    df1=df1.drop('Crime Head',1)
    df2['Crime Head']=(df2.loc[df2['Crime Head']=='Total'])
    df2=df2.dropna()
    df2=df2.drop('Crime Head',1)
    df2=df2.drop(df2[df2['STATE/UT'].isin(["Total (State)","Total (All-India)","Total (UTs)"])].index)
    df3=df3.drop(df3[df3['State/UT'].isin(["TOTAL (STATES)","TOTAL (UTS)","TOTAL (ALL INDIA)"])].index)
    df3['Year']='2015'
    df1=df1.rename(columns={'STATE/UT':'State','YEAR':'Year','Total Victims':'Total'})
    df2=df2.rename(columns={'STATE/UT':'State','YEAR':'Year','Total Victims':'Total'})
    df3=df3.rename(columns={'State/UT':'State','Year':'Year','Number of Victims (Total Rape Cases) - Total Victims':'Total'})
    df=df1.append(df2)
    df=df.append(df3)
    return df

#rapeDataIntegration()


rapeData=rapeDataIntegration()
murderData=murderDataIntegration()
kidnappingData=kidnappingDataIntegration()
populationData=pd.read_csv(populationFile)
rapeData.loc[rapeData.State=="A&N Islands",'State']="A & N Islands"
murderData.loc[murderData.State=="A&N Islands",'State']="A & N Islands"
kidnappingData.loc[kidnappingData.State=="A&N Islands",'State']="A & N Islands"

In [2]:
import plotly.plotly as py
import plotly.graph_objs as go 

from datetime import datetime
import pandas_datareader as web

df = kidnappingData

# trace_high = go.Scatter(x=df.index,
#                         y=df.High,
#                         name='High',
#                         line=dict(color='#33CFA5'))

# trace_high_avg = go.Scatter(x=df.index,
#                             y=[df.High.mean()]*len(df.index),
#                             name='High Average',
#                             visible=False,
#                             line=dict(color='#33CFA5', dash='dash'))

# trace_low = go.Scatter(x=df.index,
#                        y=df.Low,
#                        name='Low',
#                        line=dict(color='#F06A6A'))

# trace_low_avg = go.Scatter(x=df.index,
#                            y=[df.Low.mean()]*len(df.index),
#                            name='Low Average',
#                            visible=False,
#                            line=dict(color='#F06A6A', dash='dash'))

data = [trace_high, trace_high_avg, trace_low, trace_low_avg]

# high_annotations=[dict(x='2016-03-01',
#                        y=df.High.mean(),
#                        xref='x', yref='y',
#                        text='High Average:<br>'+str(df.High.mean()),
#                        ax=0, ay=-40),
#                   dict(x=df.High.idxmax(),
#                        y=df.High.max(),
#                        xref='x', yref='y',
#                        text='High Max:<br>'+str(df.High.max()),
#                        ax=0, ay=-40)]
# low_annotations=[dict(x='2015-05-01',
#                       y=df.Low.mean(),
#                       xref='x', yref='y',
#                       text='Low Average:<br>'+str(df.Low.mean()),
#                       ax=0, ay=40),
#                  dict(x=df.High.idxmin(),
#                       y=df.Low.min(),
#                       xref='x', yref='y',
#                       text='Low Min:<br>'+str(df.Low.min()),
#                       ax=0, ay=40)]

updatemenus = list([
    dict(active=-1,
         buttons=list([   
            dict(label = 'High',
                 method = 'update',
                 args = [{'visible': [True, True, False, False]},
                         {'title': 'Yahoo High',
                          'annotations': high_annotations}]),
            dict(label = 'Low',
                 method = 'update',
                 args = [{'visible': [False, False, True, True]},
                         {'title': 'Yahoo Low',
                          'annotations': low_annotations}]),
            dict(label = 'Both',
                 method = 'update',
                 args = [{'visible': [True, True, True, True]},
                         {'title': 'Yahoo',
                          'annotations': high_annotations+low_annotations}]),
            dict(label = 'Reset',
                 method = 'update',
                 args = [{'visible': [True, False, True, False]},
                         {'title': 'Yahoo',
                          'annotations': []}])
        ]),
    )
])

layout = dict(title='Yahoo', showlegend=False,
              updatemenus=updatemenus)

fig = dict(data=data, layout=layout)
py.iplot(fig, filename='update_dropdown')

In [3]:
init_notebook_mode(connected=True)
from plotly.graph_objs import Scatter, Figure, Layout

plot([Scatter(x=[1, 2, 3], y=[3, 1, 6])])

NameError: name 'init_notebook_mode' is not defined

In [ ]:
from ipywidgets import widgets 
from IPython.display import display, clear_output, Image
from plotly.graph_objs import *
from plotly.widgets import GraphWidget

In [ ]:
g = GraphWidget('https://plot.ly/~kevintest/1149/')
w = widgets.Dropdown(
    options=['red', 'blue', 'green'],
    value='blue',
    description='Colour:',
)

# generate a function to handle changes in the widget
def update_on_change(change):
   g.restyle({'marker.color': change['new']})
    
# set a listener for changes to the dropdown widget    
w.observe(update_on_change, names="selected_label")

display(w)
display(g)

In [15]:
import plotly.plotly as py
import plotly.graph_objs as go 

from datetime import datetime
import pandas_datareader as web

df = web.DataReader("aapl", 'google',
                    datetime(2015, 1, 1),
                    datetime(2016, 7, 1))
df

              Open    High     Low   Close    Volume
Date
2016-09-26  111.64  113.39  111.55  112.88  29869442
2016-09-27  113.00  113.18  112.34  113.09  24607412
2016-09-28  113.69  114.64  113.43  113.95  29641085
2016-09-29  113.16  113.80  111.80  112.18  35886990
2016-09-30  112.46  113.37  111.80  113.05  36379106
2016-10-03  112.71  113.05  112.28  112.52  21701760
2016-10-04  113.06  114.31  112.63  113.00  29736835
2016-10-05  113.40  113.66  112.69  113.05  21453089
2016-10-06  113.70  114.34  113.13  113.89  28779313
2016-10-07  114.31  114.56  113.51  114.06  24358443
2016-10-10  115.02  116.75  114.72  116.05  36235956
2016-10-11  117.70  118.69  116.20  116.30  64041043
2016-10-12  117.35  117.98  116.75  117.34  37586787
2016-10-13  116.79  117.44  115.72  116.98  35192406
2016-10-14  117.88  118.17  117.13  117.63  35652191
2016-10-17  117.33  117.84  116.78  117.55  23624896
2016-10-18  118.18  118.21  117.45  117.47  24553478
2016-10-19  117.25  117.76  113.80  117.12  20034594
2016-10-20  116.86  117.38  116.33  117.06  24125801
2016-10-21  116.81  116.91  116.28  116.60  23192665
2016-10-24  117.10  117.74  117.00  117.65  23538673
2016-10-25  117.95  118.36  117.31  118.25  48128970
2016-10-26  114.31  115.70  113.31  115.59  66134219
2016-10-27  115.39  115.86  114.10  114.48  34562045
2016-10-28  113.87  115.21  113.45  113.72  37861662
2016-10-31  113.65  114.23  113.20  113.54  26419398
2016-11-01  113.46  113.77  110.53  111.49  43825812
2016-11-02  111.40  112.35  111.23  111.59  28331709
2016-11-03  110.98  111.46  109.55  109.83  26932602
2016-11-04  108.53  110.25  108.11  108.84  30836997
...            ...     ...     ...     ...       ...
2017-08-11  156.60  158.57  156.07  157.48  26257096
2017-08-14  159.32  160.21  158.75  159.85  22122734
2017-08-15  160.66  162.20  160.14  161.60  29465487
2017-08-16  161.94  162.51  160.15  160.95  27671612
2017-08-17  160.52  160.71  157.84  157.86  27940565
2017-08-18  157.86  159.50  156.72  157.50  27428069
2017-08-21  157.50  157.89  155.11  157.21  26368528
2017-08-22  158.23  160.00  158.02  159.78  21604585
2017-08-23  159.07  160.47  158.88  159.98  19399081
2017-08-24  160.43  160.74  158.55  159.27  19818918
2017-08-25  159.65  160.56  159.27  159.86  25480063
2017-08-28  160.14  162.00  159.93  161.47  25965972
2017-08-29  160.10  163.12  160.00  162.91  29516910
2017-08-30  163.80  163.89  162.61  163.35  27269584
2017-08-31  163.64  164.52  163.48  164.00  26785096
2017-09-01  164.80  164.94  163.63  164.05  16591051
2017-09-05  163.75  164.25  160.56  162.08  29536314
2017-09-06  162.71  162.99  160.52  161.91  21651726
2017-09-07  162.09  162.24  160.36  161.26  21928502
2017-09-08  160.86  161.15  158.53  158.63  28611535
2017-09-11  160.50  162.05  159.89  161.50  31580798
2017-09-12  162.61  163.96  158.77  160.86  71714046
2017-09-13  159.87  159.96  157.91  159.65  44907361
2017-09-14  158.99  159.40  158.09  158.28  23760749
2017-09-15  158.47  160.97  158.00  159.88  49114602
2017-09-18  160.11  160.50  158.00  158.67  28269435
2017-09-19  159.51  159.77  158.44  158.73  20810632
2017-09-20  157.90  158.26  153.83  156.07  52951364
2017-09-21  155.80  155.80  152.75  153.39  37511661
2017-09-22  151.54  152.27  150.56  151.89  46645443

[251 rows x 5 columns]

In [ ]:
init_notebook_mode(connected=True)

In [ ]:
import plotly
from plotly.graph_objs import graph_objs as go
from IPython.html.widgets import interact

plotly.offline.init_notebook_mode()

In [ ]:
from plotly.offline import iplot
def view_image(w):
    x_data = [1,2,3]
    x1 = [i+w for i in x_data]
    fig1 = go.Scatter(x=x1,y=[4,5,6])
    fig2 = go.Scatter(x=x_data,y=[4,5,6])
    iplot([fig1,fig2])
interact(view_image, w=(0,100))

In [ ]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

In [ ]:
import plotly
plotly.tools.set_credentials_file(username='vatsal-sodha', api_key='YtT52QNSc1K2iSzr9rs6')

In [ ]:
import plotly.plotly as py
from plotly.graph_objs import *

trace0 = Scatter(
    x=[1, 2, 3, 4],
    y=[10, 15, 13, 17]
)
trace1 = Scatter(
    x=[1, 2, 3, 4],
    y=[16, 5, 11, 9]
)
data = Data([trace0, trace1])

py.plot(data, filename = 'basic-line')

In [ ]:
import pandas as pd
import plotly.plotly as py

from ipywidgets import widgets 
# from IPython.display import display, clear_output, Image
from plotly.graph_objs import *
from plotly.widgets import GraphWidget

# define our widgets
g = GraphWidget('https://plot.ly/~vatsal-sodha/2/')
w = widgets.Dropdown(
    options=['red', 'blue', 'green'],
    value='blue',
    description='Colour:',
)

# generate a function to handle changes in the widget
def update_on_change(change):
   g.restyle({'marker.color': change['new']})
    
# set a listener for changes to the dropdown widget    
w.observe(update_on_change, names="selected_label")

display(w)
display(g)

In [ ]:
url = py.plot({'data': [Scatter(x=rapeData['Year'].unique(), y=rapeData['Total'])]}, 
               filename = 'widget template', auto_open=False)
print(url)

In [ ]:
from ipywidgets import widgets, interactive
area = widgets.Dropdown(
    options=list(rapeData['State'].unique()),
    value='All',
    description='Area:',
)
def plotit(area):
    df=rapeData.copy()
    if area != "All":
        df=df[df['State']==area]
    if len(df)>0:
        plt.plot(rapeData['Year'].unique(),df)
        plt.show()
    else:
        print("No data to show")
# interactive(plotit, area=area)

In [ ]:
from ipywidgets import widgets 
from IPython.display import display, clear_output, Image
from plotly.graph_objs import *
from plotly.widgets import GraphWidget
# from plotly.graph_objs import graph_objs as go
import plotly.plotly as py
# import matplotlib.pyplot as plt
import preprocessing

rapeData,murderData,kidnappingData,populationData = preprocessing.preProcessing()
url = py.plot({'data': [Scatter(x=rapeData['Year'].unique(), y=rapeData[rapeData['State']=="Andhra Pradesh"]['Total'])]}, 
               filename = 'widget template', auto_open=False)
print(url)
graph = GraphWidget(url)
state = widgets.Dropdown(
    options=list(kidnappingData['State'].unique()),
    value='Andhra Pradesh',
    description='Colour:',
)
updatemenus = list([
    dict(buttons=list([   
            dict(label = 'None',
                 method = 'relayout',
                 args = ['shapes', []]),
            dict(label = 'Cluster 0',
                 method = 'relayout',
                 args = ['shapes', cluster0]),
            dict(label = 'Cluster 1',
                 method = 'relayout',
                 args = ['shapes', cluster1]),
            dict(label = 'Cluster 2',
                 method = 'relayout',
                 args = ['shapes', cluster2]),
            dict(label = 'All',
                 method = 'relayout',
                 args = ['shapes', cluster0+cluster1+cluster2])
        ]),
    )
])

In [14]:
from bokeh.io import  output_file, show,vform
from bokeh.layouts import widgetbox
from bokeh.models.widgets import Dropdown
from bokeh.models import ColumnDataSource,CustomJS
from bokeh.plotting import figure

output_file("dropdown.html")
x=list(rapeData['Year'].unique())
y=list(rapeData[rapeData['State']=="Andhra Pradesh"]['Total'])
source=ColumnDataSource(data=dict(x=x, y=y))

plot = figure(plot_width=600, plot_height=600)
plot.line('x', 'y', source=source)


menu = list(kidnappingData['State'].unique())

callback = CustomJS(args=dict(source=source), code="""
        var data = source.get('data');
        var f = cb_obj.get('value')
        x = data['x']
        y = list(data[rapeData[rapeData['State']==f]['Total']])
        source.trigger('change');
    """)
dropdown = Dropdown(label="State", button_type="warning", menu=menu,callback=callback)
layout=vform(dropdown,plot)
show(layout)

ImportError: cannot import name 'vform'

In [10]:
type(list(kidnappingData['State'].unique()))

list

In [11]:
list(kidnappingData['State'].unique())

['Andhra Pradesh',
 'Arunachal Pradesh',
 'Assam',
 'Bihar',
 'Chhattisgarh',
 'Goa',
 'Gujarat',
 'Haryana',
 'Himachal Pradesh',
 'Jammu & Kashmir',
 'Jharkhand',
 'Karnataka',
 'Kerala',
 'Madhya Pradesh',
 'Maharashtra',
 'Manipur',
 'Meghalaya',
 'Mizoram',
 'Nagaland',
 'Odisha',
 'Punjab',
 'Rajasthan',
 'Sikkim',
 'Tamil Nadu',
 'Tripura',
 'Uttar Pradesh',
 'Uttarakhand',
 'West Bengal',
 'A & N Islands',
 'Chandigarh',
 'D&N Haveli',
 'Daman & Diu',
 'Delhi UT',
 'Lakshadweep',
 'Puducherry',
 'Telangana']

In [28]:
rapeData["Total"][0]

1029

In [42]:
import matplotlib.pyplot as plt
import preprocessing

rapeData,murderData,kidnappingData,populationData = preprocessing.preProcessing()
x=rapeData['Year'].unique()
stateCrimeData=(rapeData[rapeData['State']=='Gujarat'][:])
statePopulation=populationData[populationData['State']=='Gujarat'][:]
print(stateCrimeData["Total"].describe())
# print(type(stateCrimeData['Total'])

count     14.000000
mean     391.857143
std      125.551618
min      236.000000
25%      318.750000
50%      364.000000
75%      437.500000
max      733.000000
Name: Total, dtype: float64

In [57]:
stateCrimeData['percentage']=0
stateCrimeData.loc[0,'percentage']=12
# stateCrimeData['percentage'][0]=12
print(stateCrimeData.head)

<bound method NDFrame.head of        State  Total  Year  percentage
217  Gujarat  286.0  2001           0
220  Gujarat  268.0  2002           0
222  Gujarat  236.0  2003           0
226  Gujarat  339.0  2004           0
230  Gujarat  324.0  2005           0
231  Gujarat  354.0  2006           0
236  Gujarat  317.0  2007           0
237  Gujarat  374.0  2008           0
240  Gujarat  433.0  2009           0
244  Gujarat  408.0  2010           0
248  Gujarat  439.0  2011           0
249  Gujarat  472.0  2012           0
82   Gujarat  733.0  2013           0
6    Gujarat  503.0  2015           0
0        NaN    NaN   NaN          12>

In [59]:
stateCrimeData['Total'].values[0]*100

28600.0

In [64]:
float(statePopulation["Growth"].values/100)

array([ 0.192])